---
import Layout from "../layouts/layout.astro";
import "../styles/aspirantes.css";
---

<Layout title="Aspirantes">
  <main>
    <section>
      <h2>Aspirantes a 1ro. IICO 2026</h2>
      <p>
        <strong>Preinscripción Abierta</strong><br />
        Se encuentra abierta la Pre‑Inscripción Online de aspirantes a 1ro IICO para
        el ciclo lectivo <strong>2026</strong>.
      </p>
      <p>
        Por favor, primero registrarse online: <br><br>
        <a class="boton-link" target="_blank" href="https://iico2025.aferreira.es/preinscripcion/">Registro de Pre‑inscripción</a>
      </p>
    </section>
  </main>
</Layout>
