---
import Layout from "../layouts/layout.astro";
import "../styles/aspirantes.css";
---

<Layout title="Aspirantes">
  <main>
    <section>
      <h2>Aspirantes a 1ro. IICO 2026</h2>
      <p>
        <strong>Preinscripción Abierta</strong><br />
        Se encuentra abierta la Pre‑Inscripción Online de aspirantes a 1ro IICO para
        el ciclo lectivo <strong>2026</strong>.
      </p>
      <p>
        Por favor, primero registrarse online: <a
          href="<!-- URL de registro -->">Registro de Pre‑inscripción</a
        >.
      </p>
      <p>
        <strong>Gracias</strong><br />
        Gracias por pensar en el Instituto Industrial Cristo Obrero (IICO) para el
        futuro de sus hijos.
      </p>
      <p>Ante dudas o consultas, contactar a Secretaría.</p>
      <p><a href="#seccion-secretaria">Ir a Sección Secretaría</a></p>

      <address>
        Instituto Industrial Cristo Obrero<br />
        Florencio Sánchez 394, Villa Carlos Paz, Córdoba, Argentina<br />
        <a href="mailto:info@iico.edu.ar">info@iico.edu.ar</a><br />
        Tel. (03541) 42‑4704
      </address>
    </section>
  </main>
</Layout>
