---
import Layout from "../layouts/layout.astro";
import "../styles/contacto.css";
---

<Layout title="Contacto">
  <main>
    <section>
      <h1>Contacto – Instituto Industrial Cristo Obrero</h1>

      <div class="columnas-contacto">
        <div class="columna">
          <h2>Secretaría</h2>
          <p><strong>Teléfono:</strong> (03541) 42‑4704</p>
          <p>
            <strong>Email:</strong>
            <a href="mailto:secretaria@iico.com.ar">secretaria@iico.com.ar</a>
          </p>
          <p><strong>Secretario:</strong> Prof. Gustavo Mauriño</p>
          <p><strong>Pro‑secretaria:</strong> Pilar Oleiro</p>
          <p>
            <strong>Horario de atención:</strong><br />
            Lunes: 8:00 – 16:30<br />
            Martes a viernes: 7:30 – 10:00
          </p>
          <p><strong>Guía de trámites:</strong></p>
          <ul>
            <li>Información general</li>
            <li>Solicitud de pases</li>
            <li>Solicitud de títulos</li>
            <li>Actos administrativos relativos a la función</li>
          </ul>
        </div>

        <div class="columna">
          <h2>Administración</h2>
          <p><strong>Teléfono:</strong> (03541) 42‑4494</p>
          <p>
            <strong>Email:</strong>
            <a href="mailto:administracion@iico.com.ar"
              >administracion@iico.com.ar</a>
          </p>
          <p>
            <strong>Horario de atención:</strong><br />
            Lunes a viernes: 9:00 – 12:00
          </p>
          <p><strong>Guía de trámites:</strong></p>
          <ul>
            <li>Consulta del estado de pago de aranceles</li>
            <li>Certificado de libre deuda</li>
            <li>Entrega de cupones de cuotas</li>
            <li>Cobro de cuotas con tarjetas</li>
            <li>Agenda de reuniones con el Representante Legal</li>
          </ul>
        </div>

        <div class="columna">
          <h2>Departamento de Orientación</h2>
          <p><strong>Teléfono:</strong> (03541) 42‑4704</p>
          <p>
            <strong>Email:</strong>
            <a href="mailto:info@iico.edu.ar">info@iico.edu.ar</a>
          </p>
          <p><strong>Equipo:</strong> Psp. Patricia M. Cardo y Ps. Yanina Tempo</p>
          <p>
            <strong>Horario de atención:</strong><br />
            Lunes: 15:00 – 18:00<br />
            Miércoles: 8:00 – 10:00<br />
            Viernes: 9:00 – 12:00
          </p>
          <p><strong>Guía de tareas:</strong></p>
          <ul>
            <li>Acompañamiento personal y académico</li>
            <li>Atención a consultas de familias</li>
            <li>Trabajo conjunto con tutores y docentes</li>
            <li>Intervenciones psico‑pedagógicas específicas</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
