---
import Layout from "../layouts/layout.astro";
import "../styles/descargas.css";
---

<Layout title="Descargas">
  <main>
    <section class="descargas">
      <h1>Descargas</h1>
      <div class="grilla-archivos">
        <a
          href="/archivos/REGIMEN-ACADÉMICO-SECUNDARIA-TEĆNICA.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo"
        >
          <img src="/iconos/pdf.png" alt="PDF" />
          <p>Régimen Académico - Secundaria Técnica</p>
        </a>

        <a
          href="/archivos/FICHA-DE-INSCRIPCIÓN-2025.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo"
        >
          <img src="/iconos/pdf.png" alt="PDF" />
          <p>Ficha de Inscripción 2025</p>
        </a>

        <a
          href="/archivos/CRONOGRAMA-EXÁMENES-TURNO-AGOSTO-2024.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo"
        >
          <img src="/iconos/pdf.png" alt="PDF" />
          <p>Cronograma Exámenes – Turno Agosto 2024</p>
        </a>

        <!-- Agregá más elementos como estos si necesitás -->
      </div>
    </section>
  </main>
</Layout>
