---  
import Layout from "../layouts/layout.astro";  
import "../styles/descargas.css";  
---

<Layout title="Descargas">
  <main>
    <section class="descargas">
      <h1>Descargas</h1>
      <div class="grilla-archivos">

        <a
          href="/docs/2025-IICO-JUEGO-DE-MATRICULA.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo">
          <img class="svgg" src="img/download.svg" />
          <p>Juego de Matrícula</p>
        </a>

        <a
          href="/docs/CUS.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo">
          <img class="svgg" src="img/download.svg" />
          <p>Certificado Único de Salud</p>
        </a>

        <a
          href="/docs/Proyecto-Educativo-Institucional-IICO.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo">
          <img class="svgg" src="img/download.svg" />
          <p>Proyecto Educativo IICO</p>
        </a>

        <a
          href="/docs/AEC-IICO-2018.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo">
          <img class="svgg" src="img/download.svg" />
          <p>Acuerdos Escolares de Convivencia</p>
        </a>

        <a
          href="/docs/el-abogado-del-marciano---lengua.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo">
          <img class="svgg" src="img/download.svg" />
          <p>El abogado del marciano</p>
        </a>

        <a
          href="/docs/cuadernillo-2025-matematica.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo">
          <img class="svgg" src="img/download.svg" />
          <p>Cuadernillo de Matemáticas</p>
        </a>

        <a
          href="/docs/cuadernillo-2025-lengua.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo">
          <img class="svgg" src="img/download.svg" />
          <p>Cuadernillo de Lengua</p>
        </a>

        <a
          href="/docs/Mis-herramientas-para estudiar-2025.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="archivo">
          <img class="svgg" src="img/download.svg" />
          <p>Mis herramientas para estudiar</p>
        </a>

      </div>
    </section>
  </main>
</Layout>
