---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="footer-container">
    <div class="footer-section contacto">
      <div class="logo-container">
        <img src="/img/logo.png" alt="Logo" class="logo" />
        <h3>Instituto Industrial <br /><span>Cristo Obrero</span></h3>
      </div>
      <div class="icon-text">
        <img class="svg" src="img/location.svg" />
        <p>
          Florencio Sánchez 394,<br />Villa Carlos Paz,<br />Córdoba, Argentina
        </p>
      </div>
      <div class="icon-text">
        <img class="svg" src="img/email.svg" />
        <p>info@iico.edu.ar</p>
      </div>
      <div class="icon-text">
        <img class="svg" src="img/phone.svg" />
        <p>(03541) 42-4704</p>
      </div>
    </div>

    <div class="footer-section enlaces">
      <h4>Enlaces Rapidos</h4>
      <ul>
        <li><a href="/administracion">→ Administración</a></li>
        <li><a href="/noticias-y-proyectos">→ Noticias y proyectos</a></li>
        <li><a href="/contacto">→ Contacto</a></li>
      </ul>
    </div>

    <div class="footer-section accesos">
      <h4>Accesos Directos</h4>
      <a
        class="acceso"
        href="https://iico2025.aferreira.es/"
        target="_blank"
        ><img class="svgg" src="img/iphone.svg" />TutorAPP.net</a
      >
      <a class="acceso" href="https://deioweb.com.ar/SAG/" target="_blank"
        ><img class="svgg" src="img/wallet.svg" />Estado de Cuenta</a
      >
      <a class="acceso" href="/descargas"
        ><img class="svgg" src="img/download.svg" />Descargas</a
      >
    </div>
  </div>

  <div class="footer-bottom"></div>
</footer>
